<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    
  <add name="MedicalCardEntities" connectionString="metadata=res://*/Data.MedicalCardModel.csdl|res://*/Data.MedicalCardModel.ssdl|res://*/Data.MedicalCardModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;Initial Catalog=MedicalCard;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>