/Documentation/~$дание за Система управление на медински картони.docx
/Documentation/old_Задание за Система управление на медински картони - Copy.docx
/Source/MedicalCard/MedicalCard/bin/Debug/MedicalCard.exe
/Source/MedicalCard/MedicalCard/bin/Debug/MedicalCard.exe.config
/Source/MedicalCard/MedicalCard/bin/Debug/MedicalCard.pdb
/Source/MedicalCard/MedicalCard/bin/Debug/MedicalCard.vshost.exe
/Source/MedicalCard/MedicalCard/bin/Debug/MedicalCard.vshost.exe.config
/Source/MedicalCard/MedicalCard/bin/Debug/MedicalCard.vshost.exe.manifest
/Source/MedicalCard/MedicalCard/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
/Source/MedicalCard/MedicalCard/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Source/MedicalCard/MedicalCard/obj/x86/Debug/GenerateResource.read.1.tlog
/Source/MedicalCard/MedicalCard/obj/x86/Debug/GenerateResource.write.1.tlog
/Source/MedicalCard/MedicalCard/obj/x86/Debug/MedicalCard.LoginForm.resources
/Source/MedicalCard/MedicalCard/obj/x86/Debug/MedicalCard.MainForm.resources
/Source/MedicalCard/MedicalCard/obj/x86/Debug/MedicalCard.Properties.Resources.resources
/Source/MedicalCard/MedicalCard/obj/x86/Debug/MedicalCard.View.ConsultationsForm.resources
/Source/MedicalCard/MedicalCard/obj/x86/Debug/MedicalCard.View.DiagnosesForm.resources
/Source/MedicalCard/MedicalCard/obj/x86/Debug/MedicalCard.View.DoctorsForm.resources
/Source/MedicalCard/MedicalCard/obj/x86/Debug/MedicalCard.View.EditConsultationForm.resources
/Source/MedicalCard/MedicalCard/obj/x86/Debug/MedicalCard.View.EditDiagnosisForm.resources
/Source/MedicalCard/MedicalCard/obj/x86/Debug/MedicalCard.View.EditDoctorForm.resources
/Source/MedicalCard/MedicalCard/obj/x86/Debug/MedicalCard.View.EditPatientForm.resources
/Source/MedicalCard/MedicalCard/obj/x86/Debug/MedicalCard.View.EditUserForm.resources
/Source/MedicalCard/MedicalCard/obj/x86/Debug/MedicalCard.View.PatientsForm.resources
/Source/MedicalCard/MedicalCard/obj/x86/Debug/MedicalCard.csproj.FileListAbsolute.txt
/Source/MedicalCard/MedicalCard/obj/x86/Debug/MedicalCard.exe
/Source/MedicalCard/MedicalCard/obj/x86/Debug/MedicalCard.pdb
/Source/MedicalCard/MedicalCard/obj/x86/Debug/ResolveAssemblyReference.cache
/Source/MedicalCard/MedicalCard/obj/x86/Debug/TempPE/Data.MedicalCardModel.Designer.cs.dll
/Source/MedicalCard/MedicalCard/obj/x86/Debug/TempPE/Properties.Resources.Designer.cs.dll
/Source/MedicalCard/MedicalCard/obj/x86/Debug/edmxResourcesToEmbed/Data/MedicalCardModel.csdl
/Source/MedicalCard/MedicalCard/obj/x86/Debug/edmxResourcesToEmbed/Data/MedicalCardModel.msl
/Source/MedicalCard/MedicalCard/obj/x86/Debug/edmxResourcesToEmbed/Data/MedicalCardModel.ssdl
